.git
.gitignore
__pycache__
*.pyc
.python-version
.env
.env.*
!.env.example
*.md
!README.md
tests/
cookbook/
tutorials/
results/
data/
*.db
.ipynb_checkpoints
.DS_Store
log/
logs/
parts/
json_results/
