# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.eggs/
*.egg-info/
.installed.cfg
*.egg

# Virtual env
.venv/
venv/
env/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project
.env
.env.*
!.env.example
data/
results/
*.db
log/
logs/
parts/
json_results/
notebook/

# Notebooks
.ipynb_checkpoints

# Test
.pytest_cache/
.coverage
htmlcov/

# Misc
.DS_Store
files
index
temp/
chroma-*.parquet
SDK/
